
<app-page-header [heading]="'Change Password'" [icon]="'fa-cog'"></app-page-header>
<div class="row change-password-form-page">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 change-password-form">
        <form role="form" class="form-horizontal" #changePwdForm="ngForm" (ngSubmit)="changePwdForm.form.valid &&submit(changePwdForm)">
            <div class="alert alert-danger" role="alert" *ngIf="failed">Old Password and New Password are same</div>
            <div class="alert alert-danger" role="alert" *ngIf="result">Passwords do not match</div>
            <div class="alert alert-danger" role="alert" *ngIf="resultSet" style="color:green;">Passwords match</div>
            <label for="oldPassword">Old Password</label>
            <input type="password" [(ngModel)]="oldPassword" id="oldPassword" name="oldPassword" class="form-control"/>
            <label for="newPassword">New Password</label>
            <input type="password" [(ngModel)]="newPassword" id="newPassword" name="newPassword" class="form-control"/>
            <label for="cnfNewPassword">Confirm New Password</label>
            <input type="password" [(ngModel)]="cnfNewPassword" id="cnfNewPassword" name="cnfNewPassword" class="form-control"/>
            <p *ngIf = "messagecolor" style="color:green" >{{message}}</p> 
            <p *ngIf = "!messagecolor" style="color:red" >{{message}}</p>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>
