
<app-page-header [heading]="'Reset Password'" [icon]="'fa-cog'"></app-page-header>
<div class="row change-password-form-page">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 change-password-form">
        <form role="form" class="form-horizontal" #f ="ngForm" (ngSubmit)="f.form.valid && resetPassword(f)">
             <p *ngIf="!failed" style="color:red">passwords do not match</p>
            <p *ngIf="result" style="color:green">passwords match</p>
             
            <!-- <div class="alert alert-danger" role="alert" *ngIf="failed" style="color:red;">Passwords do not match</div>
            <div class="alert alert-danger" role="alert" *ngIf="!failed" style="color:green;">Passwords match</div>             -->
            <label for="newPassword">New Password</label>
            <input type="password" [(ngModel)]="model.newPassword" name="newPassword" class="form-control"/>
            <label for="cnfNewPassword">Confirm New Password</label>
            <input type="password" [(ngModel)]="model.cnfNewPassword" name="cnfNewPassword" class="form-control"/>
            
            <!-- <p *ngIf = "!messagecolor" style="color:red" >{{message}}</p> -->
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</div>
