
<!--<div class="alert alert-danger">{{message}}</div>-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 work-flow-table table-responsive">
            <table>
                <thead class="thead-dark">
                    <th>Date</th>
                    <th>Worked at</th>
                    <th>Brand</th>
                    <th>Category</th>
                   <!-- <th>Deliverable</th>-->
                    <th>TR Number</th>
                    <th>Version</th>
                    <th>Item Name</th>
                    <th>Revision Type</th>
                    <th>Briefing</th>
                    <th>Job Type/Task</th>
                  <!--  <th>Date Delivered</th>-->
                    <th>Job Status</th>
                    <th>PFC</th>
                    <th>PA</th>
                    <th>QC</th>
                    <th>Duration</th>
                    <th>Action</th>
                    <!--<th>Edit</th>
                    <th>Select Project Manager</th>
                    <th>Action</th>-->
                </thead>
                <tbody>
                    <tr *ngFor="let job of history;let i=index">
                        
                        <td>{{job.brief_date}}</td>
                        <td>{{job.worked_at}}</td>
                        <td>{{job.brand}}</td>
                        <td>{{job.category}}</td>
                      <!--  <td></td>-->
                        <td>{{job.tr_number}}</td>
                        <td>{{job.version}}</td>
                        <td>{{job.item_name}}</td>
                        <td>{{job.revision_type}}</td>
                        <td>{{job.briefing}}</td>
                        <td>{{job.job_type}}</td>
                     <!--   <td>{{job.date_delivered}}</td>-->
                        <td>{{job.Job_status}}</td>
                        <td>{{job.pfc}}</td>
                        <td>{{job.pa}}</td>
                        <td>{{job.qc}}</td>
                        <td>{{job.duration}}</td>
                        <td>
                            <button class="btn btn-success" (click)="addExternalError(job.task_id1)">View Errors</button>
                        </td>
                      
                        
                    </tr>
                </tbody>
            </table>
         </div>
     </div>
</div>
